
*{
    padding:0;
    margin:0;
}
.row{
            margin:0;
            height:auto !important;
            padding:10px !important;
        }
li{
    list-style:none;
}
header{
    margin:0 auto;
}
.Duration-content{
    /*max-width:1300px;*/
    margin:0 auto;
}
.Duration-title{
    background:#5A77A9 !important;
}
.Duration-title h1{
    padding:10px;
    color:white;
    font-size:24px;

}
.Duration-menu{
    margin:5px 0;
}
.Duration-menu ul>li{
    display:inline-block;
    margin-left:10px;
}
.btnActive{
    background:#D4DFF3 !important;
    color: #5A77A9 !important;
}
.ui-dialog{
    width:400px !important;
}
.Duration-content-aside ul{display: block;}
.Duration-content-aside ul li{position: relative;border-bottom: 1px solid #dedede;padding:10px 50px 10px 50px;color: #ccc;cursor:default}
.Duration-content-aside ul li .no{float: left;margin-left: -40px;font-size: 32px;width: 40px;text-align: center;line-height: 40px;display: block;}
.Duration-content-aside ul li .flag{position: absolute;right: 20px;top: 18px;}
.Duration-content-aside ul li .step-title{font-size: 12px;line-height: 14px;font-weight:bold}
.Duration-content-aside ul li .step-text{font-size: 14px;}
.Duration-content-aside ul li:hover{background:red;color:#ADADAD;}
.Duration-content-aside ul li.active{background: #fff;color: #5A77A9;}
.Duration-content-aside ul li.active,.Duration-content-aside ul li:hover{color: #5A77A9;-moz-transition: 0.5s;-ms-transition: 0.5s;-o-transition: 0.5s;-webkit-transition: 0.5s;transition: 0.5s;background-color:#D4DFF3;}


