.wrap{
    margin:0 auto;
    width:800px;        
}
.content{
    padding-left: 24px;
    overflow: hidden;
}
.pageTitle{
    margin-bottom:10px;
    padding-top:10px;
    padding-bottom:5px;
    border-bottom:1px solid #ccc;
    font-size:14px;
    font-weight:700;
}
.pageItem{
    padding-top:5px;
    padding-bottom:5px;
    border-bottom:1px solid #ccc;
    font-size:12px;
    font-weight:600;
}
.pageRow{
    height:40px;
    line-height:40px;
}        
