html,body{
    background-color:#e7e7e7;
}
.setPanel {
  margin-top: 50px;
  margin-bottom: 40px;
  padding-bottom: 30px;
  min-width: 400px;
  background-color:#fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow:0 5px 10px rgba(0,0,0,.03);
}

.text-title {
  margin-bottom: 40px;
  padding: 20px;
  font-size: 20px;
  font-weight: 600;
  background-color:#efefef;
  border-bottom:1px solid #ddd;
  color: #666;
}

#stepMod {
  display: none;
}

.content {
  overflow: hidden;
  margin-bottom: 30px;
}

.plus {
  color: #72C151;
}

.plus .icon-plus{
  cursor:pointer;
}
