<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <connectionStrings configSource="Config\connectionStrings.config" />
  <appSettings  configSource="Config\appSettings.config" />
  <log4net configSource="Config\log4net.config"/>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"  maxRequestLength="2097151" />
  </system.web>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="serviceErrorHandler" type="QuickFrame.Extensions.FalutErrorHandlerBehavior.FaultErrorHandlerServiceBehaviorExtensionElement, QuickFrame" />
      </behaviorExtensions>
    </extensions>
    <services>
      <service name="QuickFrame.FrameService">
        <endpoint address="" behaviorConfiguration="QuickFrame.FrameServiceAspNetAjaxBehavior"
          binding="webHttpBinding" contract="QuickFrame.FrameService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="QuickFrame.Service1">
        <endpoint address="" behaviorConfiguration="QuickFrame.Service1AspNetAjaxBehavior"
          binding="webHttpBinding" contract="QuickFrame.Service1" />
      </service>
      <service name="QuickFrame.UserManagementService">
        <endpoint address="" behaviorConfiguration="QuickFrame.UserManagementServiceAspNetAjaxBehavior"
          binding="webHttpBinding" contract="QuickFrame.UserManagementService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="CommonServiceBehaviours" name="QuickFrame.CRCConnectorService">
        <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="QuickFrame.CRCConnectorService.basic"
          name="baisicConnector" contract="QuickFrame.ICRCConnectorService" />
        <endpoint name="webHttpConnector" behaviorConfiguration="webHttpBehavior" bindingConfiguration="QuickFrame.CRCConnectorService.web" 
          address="rest" binding="webHttpBinding" contract="QuickFrame.ICRCConnectorService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="QuickFrame.FrameServiceAspNetAjaxBehavior">
          <webHttp />
        </behavior>
        <behavior name="QuickFrame.Service1AspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="QuickFrame.UserManagementServiceAspNetAjaxBehavior">
          <webHttp />
        </behavior>
        <behavior name="webHttpBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="CommonServiceBehaviours">
          <serviceErrorHandler />
          <serviceMetadata httpsGetEnabled="true" httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding name="QuickFrame.CRCConnectorService.web" closeTimeout="01:30:00" sendTimeout="01:30:00" maxReceivedMessageSize="2147483647" crossDomainScriptAccessEnabled="true">
        </binding>
        <binding  closeTimeout="01:30:00" sendTimeout="01:30:00" maxReceivedMessageSize="2147483647" crossDomainScriptAccessEnabled="true">
          <!--当URL是http时，mode设置为None,https时mode设置为Transport-->
          <security mode="Transport" />
        </binding>
      </webHttpBinding>
      <basicHttpBinding>
        <binding name="QuickFrame.CRCConnectorService.basic" closeTimeout="01:30:00" sendTimeout="01:30:00" maxReceivedMessageSize="2147483647">
        </binding>
      </basicHttpBinding>
    </bindings>
    <!--<protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>-->
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
