 *{margin: 0;padding: 0;}

.body-container{padding:0px 10px;}
.content-title{padding:10px 0px;}
.list-filters{padding:0px 0px 10px 0px; position:relative;}
.list-filters ul{list-style:none;}
.list-filters li{display:inline-block; margin-right:20px; margin-bottom:5px; min-width:300px; max-width:400px;}
.list-filters li input[type=text]{height:20px; line-height:20px; border:1px solid #ccc;}
.list-filters .filter-name{min-width:100px; display:inline-block; }
.list-filters .btn-search{ width:80px; height:23px; margin-top:10px;}



.list-container {min-height: 200px; }

.list-container .noData{text-align: center; line-height: 40px;}
.mytable {border-collapse: collapse; width:100%;}
.mytable .table-th {height: 26px;padding: 0 8px;border: 1px solid #ddd;background-color: #efefef;}
.mytable .table-td {height: 26px;padding: 0 8px;text-align: center;border: 1px solid #ddd;}
.mytable .table-td.active {outline: 1px solid #5292F7;}
.pager>li {display: inline-block;position: relative;float: left;padding: 4px 8px;margin-left: -1px;
    line-height: 1.428571429;text-decoration: none;color: #428bca;background-color: #fff;border: 1px solid #ddd;
    cursor: pointer;
}
.pager>li:hover {background-color: #f7f7f7;}
.pager>li.disabled {color: #ddd;cursor: default;}