<log4net>
  <!--Product Environment-->
  <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
    <file type="log4net.Util.PatternString" value="E:\TSSWCFServices\TrustManagementService\App.Task\Logs/TaskServices_%date{yyyy-MMM-dd_HHmmss}.log"/>
    <appendToFile value="true"/>
    <maximumFileSize value="100KB"/>
    <maxSizeRollBackups value="10"/>
    <rollingStyle value="Date"/>
    <datePattern value="yyyyMMdd"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="[%d] %p %c - %m%n"/>
    </layout>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
  </appender>
  <root>
    <level value="INFO"/>
    <appender-ref ref="RollingFile"/>
  </root>
</log4net>