<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <!-- WCF build deployment test -->
  <log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="E:\TSSWCFServices\TaskProcessServices\App.Task\Logs/TaskServices_%date{yyyy-MMM-dd_HHmmss}.log"/>
      <appendToFile value="true"/>
      <maximumFileSize value="100KB"/>
      <maxSizeRollBackups value="10"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyyMMdd"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%d] %p %c - %m%n"/>
      </layout>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    </appender>
    <root>
      <level value="INFO"/>
      <appender-ref ref="RollingFile"/>
    </root>
  </log4net>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime maxQueryStringLength="327680" maxUrlLength="655360" enable="true"/>
    <compilation debug="true" targetFramework="4.5"/>
    <sessionState mode="Off"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      minFreeMemoryPercentageToActivateService="0" multipleSiteBindingsEnabled="true" />
    <extensions>
      <behaviorExtensions>
        <add name="SilverlightFaultBehavior" type="Securitisation.Utilities.SilverlightFaultBehavior, WBC.Treasury.TDM.Sec.Utilities, Version=1.0.0.0, Culture=neutral, PublicKeyToken=2b6915459c39d62e"/>
      </behaviorExtensions>
    </extensions>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBinding" closeTimeout="01:30:00" sendTimeout="01:30:00" maxReceivedMessageSize="2147483647">
          <security mode="Transport"/>
        </binding>
        <binding name="streamHttpBinding" closeTimeout="00:30:00" openTimeout="00:10:00" receiveTimeout="00:30:00" sendTimeout="00:30:00" maxReceivedMessageSize="16777216" transferMode="Streamed" messageEncoding="Mtom">
          <security mode="Transport"/>
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="Silverlight.customBinding" closeTimeout="01:30:00" sendTimeout="01:30:00">
          <binaryMessageEncoding/>
          <httpTransport/>
        </binding>
        <binding name="Silverlight.customBindingHttps" closeTimeout="01:30:00" sendTimeout="01:30:00">
          <binaryMessageEncoding/>
          <httpsTransport/>
        </binding>
      </customBinding>
      <webHttpBinding>
        <binding name="crossDomainBinding" closeTimeout="01:30:00" sendTimeout="01:30:00" maxReceivedMessageSize="2147483647" crossDomainScriptAccessEnabled="true">
          <security mode="Transport"/>
        </binding>
      </webHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="CommonServiceBehaviours" name="TaskProcessService.TaskProcessService">
        <endpoint address="TPSEP" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding"
          name="TPSEP" contract="BL.TaskProcessService.ServiceContract.ITaskProcessService" />
        <endpoint address="mex" binding="mexHttpsBinding" bindingConfiguration=""
          name="meta" contract="IMetadataExchange" />
        <endpoint address="TPSSilverlightEP" behaviorConfiguration="SilverlightFaultBehavior"
          binding="customBinding" bindingConfiguration="Silverlight.customBindingHttps"
          name="TPSSilverlightEP" contract="BL.TaskProcessService.ServiceContract.ITaskProcessService" />
      </service>
      <service behaviorConfiguration="CommonServiceBehaviours" name="TaskProcessService.WorkflowService">
        <endpoint address="WFPSEP" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding"
          name="WFPSEP" contract="BL.TaskProcessService.ServiceContract.IWorkflowService" />
        <endpoint address="mex" binding="mexHttpsBinding" bindingConfiguration=""
          name="meta" contract="IMetadataExchange" />
        <endpoint address="jsAccessEP" behaviorConfiguration="webHttpBehavior"
          binding="webHttpBinding" bindingConfiguration="crossDomainBinding"
          name="jsAccessEP" contract="BL.TaskProcessService.ServiceContract.IWorkflowService" />
      </service>
      <service behaviorConfiguration="CommonServiceBehaviours" name="TaskProcessService.SessionManagementService">
        <endpoint address="SMSEndPoint" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding"
          name="SMSEndPoint" contract="BL.TaskProcessService.ServiceContract.ISessionManagementService" />
        <endpoint address="mex" binding="mexHttpsBinding" bindingConfiguration=""
          name="meta" contract="IMetadataExchange" />
        <endpoint address="SMSSilverlightEP" behaviorConfiguration="SilverlightFaultBehavior"
          binding="customBinding" bindingConfiguration="Silverlight.customBindingHttps"
          name="SMSSilverlightEP" contract="BL.TaskProcessService.ServiceContract.ISessionManagementService" />
        <endpoint address="jsAccessEP" behaviorConfiguration="webHttpBehavior"
          binding="webHttpBinding" bindingConfiguration="crossDomainBinding"
          name="jsAccessEP" contract="BL.TaskProcessService.ServiceContract.ISessionManagementService" />
      </service>
      <service behaviorConfiguration="CommonServiceBehaviours" name="TaskProcessService.ImplPoolProcessService">
        <endpoint address="PPSEP" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding"
          name="PPSEP" contract="BL.TaskProcessService.ServiceContract.IPoolProcessService" />
        <endpoint address="mex" binding="mexHttpsBinding" bindingConfiguration=""
          name="meta" contract="IMetadataExchange" />
        <endpoint address="PPSSilverlightEP" behaviorConfiguration="SilverlightFaultBehavior"
          binding="customBinding" bindingConfiguration="Silverlight.customBindingHttps"
          name="PPSSilverlightEP" contract="BL.TaskProcessService.ServiceContract.IPoolProcessService" />
        <endpoint address="stream" binding="basicHttpBinding" bindingConfiguration="streamHttpBinding"
          name="PoolProcessServiceEndPointForStreamTransfer" contract="BL.TaskProcessService.ServiceContract.IPoolProcessService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
      </service>
      <service behaviorConfiguration="CommonServiceBehaviours" name="TaskProcessService.TrustManagementService">
        <endpoint address="jsAccessEP" behaviorConfiguration="webHttpBehavior"
          binding="webHttpBinding" bindingConfiguration="crossDomainBinding"
          name="jsAccessEP" contract="BL.TaskProcessService.ServiceContract.ITrustManagementService" />
      </service>
      <service behaviorConfiguration="CommonServiceBehaviours" name="TaskProcessService.CashflowService">
        <endpoint address="CSEP" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding"
          name="CSEP" contract="BL.TaskProcessService.ServiceContract.ICashflowService" />
        <endpoint address="CSSilverlightEP" behaviorConfiguration="SilverlightFaultBehavior"
          binding="customBinding" bindingConfiguration="Silverlight.customBindingHttps"
          name="CSSilverlightEP" contract="BL.TaskProcessService.ServiceContract.ICashflowService" />
        <endpoint address="mex" behaviorConfiguration="" binding="mexHttpsBinding"
          bindingConfiguration="" name="meta" contract="IMetadataExchange" />
      </service>

      <service behaviorConfiguration="CommonServiceBehaviours" name="TaskProcessService.PaymentScheduleService">
        <endpoint address="SMSEndPoint" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding"
          name="SMSEndPoint" contract="TaskProcessService.IPaymentScheduleService" />
        <endpoint address="mex" binding="mexHttpsBinding" bindingConfiguration=""
          name="meta" contract="IMetadataExchange" />       
        <endpoint address="jsAccessEP" behaviorConfiguration="webHttpBehavior"
          binding="webHttpBinding" bindingConfiguration="crossDomainBinding"
          name="jsAccessEP" contract="TaskProcessService.IPaymentScheduleService" />
      </service>
      <service behaviorConfiguration="CommonServiceBehaviours" name="TaskProcessService.BondPaymentScheduleService">
        <endpoint address="SMSEndPoint" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding"
          name="SMSEndPoint" contract="TaskProcessService.IBondPaymentScheduleService" />
        <endpoint address="mex" binding="mexHttpsBinding" bindingConfiguration=""
          name="meta" contract="IMetadataExchange" />
        <endpoint address="jsAccessEP" behaviorConfiguration="webHttpBehavior"
          binding="webHttpBinding" bindingConfiguration="crossDomainBinding"
          name="jsAccessEP" contract="TaskProcessService.IBondPaymentScheduleService" />
      </service>
      <service behaviorConfiguration="CommonServiceBehaviours" name="TaskProcessService.CashFlowStudioService">
        <endpoint address="SMSEndPoint" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding"
          name="SMSEndPoint" contract="TaskProcessService.ICashFlowStudioService" />
        <endpoint address="mex" binding="mexHttpsBinding" bindingConfiguration=""
          name="meta" contract="IMetadataExchange" />
        <endpoint address="jsAccessEP" behaviorConfiguration="webHttpBehavior"
          binding="webHttpBinding" bindingConfiguration="crossDomainBinding"
          name="jsAccessEP" contract="TaskProcessService.ICashFlowStudioService" />
      </service>
      <service behaviorConfiguration="CommonServiceBehaviours" name="TaskProcessService.DataProcessService">
        <endpoint address="mex" binding="mexHttpsBinding" bindingConfiguration=""
          name="meta" contract="IMetadataExchange" />
        <endpoint address="jsAccessEP" behaviorConfiguration="webHttpBehavior"
          binding="webHttpBinding" bindingConfiguration="crossDomainBinding"
          name="jsAccessEP" contract="TaskProcessService.IDataProcessService" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="SilverlightFaultBehavior">
          <SilverlightFaultBehavior />
        </behavior>
        <behavior name="webHttpBehavior">
          <webHttp />
        </behavior>
        <behavior name="TaskProcessService.Service1AspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="TaskProcessService.PaymentScheduleServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="CommonServiceBehaviours">
          <serviceMetadata httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="DebugServiceBehaviours">
          <serviceMetadata httpsGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <connectionStrings>
    <add name="TaskProcess" connectionString="Server=DAL_SEC;Database=TaskProcess;Trusted_Connection=True;"/>
    <add name="DAL_SEC_PoolConfig" connectionString="Server=DAL_SEC;Database=DAL_SEC_PoolConfig;Trusted_Connection=True;"/>
    <add name="DAL_SEC" connectionString="Server=DAL_SEC;Database=DAL_SEC;Trusted_Connection=True;"/>
    <add name="SFM_DAL_CLO" connectionString="Server=MSSQL;Database=SFM_DAL_ConsumerLoan;Trusted_Connection=True;"/>
  </connectionStrings>
  <appSettings>
    <add key="TaskPath" value="E:\TSSWCFServices\TaskProcessServices\App.Task\Tasks"/>
    <add key="SessionTimeOut" value="120"/>
    <add key="CashflowProvider" value="BL.TaskProcessService.CashFlowProvider, BL.TaskProcessService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <add key="OperationProvider" value="BL.TaskProcessService.OperationProvider, BL.TaskProcessService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <add key="SessionTaskActionReader" value="BL.TaskProcessService.SessionTaskActionReader, BL.TaskProcessService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <add key="SessionProcess" value="BL.TaskProcessService.SessionProcessor, BL.TaskProcessService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <add key="ReportingWebServiceUrl" value="http://poolcutsp/ReportServer/reportexecution2005.asmx"/>
    <add key="DAL_SEC" value="Server=DAL_SEC;Database=DAL_SEC;Trusted_Connection=True;"/>
    <add key="DAL_ABS" value="Server=DAL_SEC;Database=DAL_ABS;Trusted_Connection=True;"/>
    <add key="isDistribute" value="false"/>
    <add key="SecuritisationFilePath" value="E:\\TSSWCFServices\\TaskProcessServices\\PoolCut\\SecuritisationFiles\\"/>
    <add key="SsasExcelConnectionStrTemplate" value="Provider=MSOLAP.3; Persist Security Info=True; User Id=dev\goldenstand; Password=Welcome01; Initial Catalog={0}; Data Source={1};Extended Properties=&quot;LocaleIdentifier=1033&quot;; MDX Compatibility=1; Safety Options=2; MDX Missing Member Mode=Error"/>
    <add key="FilePathBase" value="E:\TSSWCFServices\TaskProcessServices\TrustFiles"/>
    <add key="FileURLPathBase" value="https://poolcutwcf/TaskProcessServices"/>
  </appSettings>
</configuration>