body {margin:0;padding:0;font-size: 12px;font-family: "Microsoft Yahei";}
.font-Yahei{font-size: 12px;font-family: "Microsoft Yahei";}

#studioTabsUL {margin:0;padding-top:10px;padding-left:0;padding-bottom:0;padding-right:0;background-color: #293955;border:none; border-bottom:solid 3px #FFF29D;}
#studioTabsUL li{float:left;list-style-type:none;margin-right:5px;background-color: #364E6F;border:none;}
#studioTabsUL li.ui-tabs-active{padding-bottom: 0px;}
#studioTabsUL li a {display: block;padding: 3px 30px;background: #364E6F;text-decoration: none;color: #FFF;}
#studioTabsUL li a:hover {background: #5B7199;}
#studioTabsUL li.ui-tabs-active a {background:#FFF29D;color: #000;}

#ecTabsUL {margin:0;padding:0 0 5px 0;background-color: #FFF;border:none;border-bottom:solid 1px #BDBDBD;}
#ecTabsUL li{float:left;list-style-type:none;margin-right:5px;background-color: #FFF;border:none;}
#ecTabsUL li.ui-tabs-active{padding-bottom: 0px;}
#ecTabsUL li a {display: block;padding: 2px 5px;color: #000;text-decoration: none;background:#FFF}
#ecTabsUL li a:hover {background: #007ACC;color: #FFF;}
#ecTabsUL li.ui-tabs-active a {background:#007ACC;color: #FFF;}

#ecToolTabsUL {margin:0;padding:0;background-color: #FFF;border:none;}
#ecToolTabsUL li{float:left;list-style-type:none;background-color: #EBEBEB;margin-right:0px;border:none;}
#ecToolTabsUL li.ui-tabs-active{padding-bottom: -1px;}
#ecToolTabsUL li a {display: block;padding: 2px 5px;color: #000;text-decoration: none;background:#EBEBEB;border:solid 1px #808080;border-bottom:none;}
#ecToolTabsUL li a:hover {background: #D9F0FC;color: #000;}
#ecToolTabsUL li.ui-tabs-active a {background:#FFF;color: #000;}

#taskTabsUL {margin:0;padding:0 0 5px 0;background-color: #FFF;border:none;border-bottom:solid 1px #BDBDBD;}
#taskTabsUL li{float:left;list-style-type:none;margin-right:5px;background-color: #FFF;border:none;}
#taskTabsUL li.ui-tabs-active{padding-bottom: 0px;}
#taskTabsUL li a {display: block;padding: 2px 5px;color: #000;text-decoration: none;background:#FFF}
#taskTabsUL li a:hover {background: #007ACC;color: #FFF;}
#taskTabsUL li.ui-tabs-active a {background:#007ACC;color: #FFF;}

#taskMethodTabsUL {margin:0;padding:0;background-color: #FFF;border:none;}
#taskMethodTabsUL li{float:left;list-style-type:none;background-color: #EBEBEB;margin-right:0px;border:none;}
#taskMethodTabsUL li.ui-tabs-active{padding-bottom: -1px;}
#taskMethodTabsUL li a {display: block;padding: 2px 5px;color: #000;text-decoration: none;background:#EBEBEB;border:solid 1px #808080;border-bottom:none;}
#taskMethodTabsUL li a:hover {background: #D9F0FC;color: #000;}
#taskMethodTabsUL li.ui-tabs-active a {background:#FFF;color: #000;}

#objectTabsUL {margin:0;padding:0;background-color: #FFF;border:none;}
#objectTabsUL li{float:left;list-style-type:none;background-color: #EBEBEB;margin-right:0px;border:none;}
#objectTabsUL li.ui-tabs-active{padding-bottom: -1px;}
#objectTabsUL li a {display: block;padding: 2px 5px;color: #000;text-decoration: none;background:#EBEBEB;border:solid 1px #808080;border-bottom:none;}
#objectTabsUL li a:hover {background: #D9F0FC;color: #000;}
#objectTabsUL li.ui-tabs-active a {background:#FFF;color: #000;}

#actionTempleteTabsUL {margin:0;padding:0;background-color: #FFF;border:none;}
#actionTempleteTabsUL li{float:left;list-style-type:none;background-color: #EBEBEB;margin-right:0px;border:none;}
#actionTempleteTabsUL li.ui-tabs-active{padding-bottom: -1px;}
#actionTempleteTabsUL li a {display: block;padding: 2px 5px;color: #000;text-decoration: none;background:#EBEBEB;border:solid 1px #808080;border-bottom:none;}
#actionTempleteTabsUL li a:hover {background: #D9F0FC;color: #000;}
#actionTempleteTabsUL li.ui-tabs-active a {background:#FFF;color: #000;}

#viewVariables ul{list-style: none;padding:0;margin:0}
#viewVariables ul li ul {list-style: none;padding:0;margin:0}

#viewActionTemplates ul{list-style: none;padding:0;margin:0}
#viewActionTemplates ul li ul {list-style: none;padding:0;margin:0}

#viewMethod ul{list-style: none;padding:0;margin:0}
#viewMethod ul li ul {list-style: none;padding:0;margin:0}

#viewTaskVariables ul{list-style: none;padding:0;margin:0}
#viewTaskVariables ul li ul {list-style: none;padding:0;margin:0}

#viewMetaData ul{list-style: none;padding:0;margin:0}
#viewMetaData ul li ul {list-style: none;padding:0;margin:0}

#viewFunction ul{list-style: none;padding:0;margin:0}
#viewFunction ul li ul {list-style: none;padding:0;margin:0}

#viewSimpleActionTemplates ul{list-style: none;padding:0;margin:0}
#viewSimpleActionTemplates ul li ul {list-style: none;padding:0;margin:0}

#viewTaskObject ul{list-style: none;padding:0;margin:0}
#viewTaskObject ul li ul {list-style: none;padding:0;margin:0}

#viewECObject ul{list-style: none;padding:0;margin:0}
#viewECObject ul li ul {list-style: none;padding:0;margin:0}

#viewActionTemplates ul{list-style: none;padding:0;margin:0}
#viewActionTemplates ul li ul {list-style: none;padding:0;margin:0}

#combinationActionTemplates ul{list-style: none;padding:0;margin:0}
#combinationActionTemplates ul li ul {list-style: none;padding:0;margin:0}

.icons{margin:0;padding:0;width: 16px;height: 16px;background-image: url(../Scripts/images/ui-icons_454545_256x240.png);}
.triangle-1-e { background-position: -32px -16px; } 
.triangle-1-se { background-position: -48px -16px; }
.note { background-position: -64px -96px; }
.check { background-position: -64px -144px; }
.calculator { background-position: -112px -112px; }
.document { background-position: -32px -96px; }
.close { background-position: -80px -128px; }
.icon-new {background-position: -35px -96px;}
.icon-copy {background-position: -179px -128px;}
.icon-paste {background-position: -163px -128px;}
.icon-trash { background-position: -178px -95px; }
.icon-script { background-position: -240px -128px; }

.bigicons{margin:0;padding:0;width: 20px;height: 20px;background-image: url(../Scripts/images/ui-icons_454545_320x300.png);}
.bigcheck { background-position: -80px -180px; }
.bigcalculator { background-position: -140px -140px; }
.bigsearch { background-position: -200px -140px; }
.bigdisk { background-position: -120px -140px; }
.bigtransferthick-e-w { background-position: -140px -100px; }
.bigtransfer-e-w { background-position: -120px -100px; }
.bigrefresh { background-position: -80px -100px; }
.biggear { background-position: -240px -140px; }
.bigplay { background-position: 0 -200px; }
.bigwrench { background-position: -220px -142px; }
.bigcomment { background-position: -160px -120px; }
.bigtotable {background-position: -40px -60px;}
.bigtoexcel {background-position:-120px -61px;}
.biglink { background-position: -300px -140px; }
.bigloadexcel{background-position:-180px -240px;}
.biggetvar{background-position:-140px -240px;}

.ul-menu {width:100px; position:absolute;display:none;-moz-border-radius: 15px;/* Gecko browsers */-webkit-border-radius: 15px;/* Webkit browsers */border-radius:15px;/* W3C syntax */}
.task-ul-menu{width:150px; position:absolute;display:none;-moz-border-radius: 15px;/* Gecko browsers */-webkit-border-radius: 15px;/* Webkit browsers */border-radius:15px;/* W3C syntax */}
.menu-span {float:left}

.gf_s{ float:left;width: 5px;height: 770px;font-size: 20px;word-wrap: break-word; letter-spacing: 20px; cursor:e-resize;}
.gf_s_g {float: left;width: 5px;margin-top:5px;height: 760px;cursor: e-resize;position: absolute;filter: alpha(opacity=60);-moz-opacity: 0.6;-khtml-opacity: 0.6;opacity: 0.6;z-index: 1000;background-color:#EBEBEB;display: none;}

.toolLi {padding:0 5px;cursor:default;border-bottom:solid 1px #fff;}
.activeLi {background-color:#3399FF;color:#FFF; }

/*.ribbon {margin-right:5px;padding:4px 4px;float:left;list-style:none}*/
.ribbon {margin-right:10px;padding:2px;float:left;list-style:none}
.activeRibbon{background:#FDF4BF;border:solid 1px #E5C365;}  

.panel-icon {margin:0;padding:0;width:25px;height:30px; background:url(../Scripts/images/ui-icons_454545_320x300.png) no-repeat;}
.panel-open{background-position: -78px -15px; }
.panel-close{ background-position: -38px -15px;}
.panel-actions{width:656px;}
.panel-actions-Group { margin-bottom:3px;border:solid 1px #aaaaaa;}
.panel-actions-GroupBottom {margin-bottom:0px;}
.panel-actions-Group-header {cursor:pointer; width:100%; line-height:30px;background: #5B7199; }
.panel-actions-Group-header div{ float:left;font-weight: bolder; color:#FFF }
.panel-actions-Group-content {min-height:60px; } 