<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="QuickTerms" connectionString="Server=.\MSSQL;Database=QuickTerms;Trusted_Connection=True;"/>
    <add name="QuickWizard" connectionString="Server=.\MSSQL;Database=QuickWizard;Trusted_Connection=True;"/>
    <add name="QuickCredit" connectionString="Server=.\MSSQL;Database=QuickCredit;Trusted_Connection=True;"/>
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="FilePathBase" value="E:\TSSWCFServices\QuickWizard\UploadFiles"/>
  </appSettings>
  <system.web>
    <compilation targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="QuickWizard.WizardService">
        <endpoint  behaviorConfiguration="WizardServiceAjaxBehavior"
          binding="webHttpBinding" contract="QuickWizard.WizardService" />
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="WizardServiceAjaxBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding  closeTimeout="01:30:00" sendTimeout="01:30:00" maxReceivedMessageSize="2147483647" crossDomainScriptAccessEnabled="true">
         <!--当URL是http时，mode设置为None-->
          <security mode="Transport" />
        </binding>
      </webHttpBinding>
      
    </bindings>
    <!--<protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>-->    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
  </system.serviceModel>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
