<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="TaskProcess" connectionString="Server=DAL_SEC;Database=TaskProcess;Trusted_Connection=True;"/>
  </connectionStrings>
  <appSettings>
    <add key="FilePathBase" value="E:\TSSWCFServices\CashflowEngine\Files" />
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="CashflowProvider" value="BL.TaskProcessService.CashFlowProvider, BL.TaskProcessService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <add key="OperationProvider" value="BL.TaskProcessService.OperationProvider, BL.TaskProcessService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <add key="SessionTaskActionReader" value="BL.TaskProcessService.SessionTaskActionReader, BL.TaskProcessService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <add key="SessionProcess" value="BL.TaskProcessService.SessionProcessor, BL.TaskProcessService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </appSettings>
  <system.web>
    <compilation targetFramework="4.5" />
    <httpRuntime maxQueryStringLength="327680" maxUrlLength="655360" enable="true" targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="crossDomainBinding" closeTimeout="01:30:00" sendTimeout="01:30:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" crossDomainScriptAccessEnabled="true">
          <security mode="Transport"/>
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
                        maxArrayLength="2147483647" maxBytesPerRead="2147483647"
                        maxNameTableCharCount="2147483647"/>
        </binding>
      </webHttpBinding>
    </bindings>
    <services>
      <service name="CashFlowStudioService.CashFlowStudioService">
        <endpoint behaviorConfiguration="CashFlowStudioService.CashFlowStudioServiceAspNetAjaxBehavior"
          binding="webHttpBinding" contract="CashFlowStudioService.ICashFlowStudioService" />
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
        <endpoint address="jsAccessEP" behaviorConfiguration="webHttpBehavior"
          binding="webHttpBinding" bindingConfiguration="crossDomainBinding"
          name="jsAccessEP" contract="CashFlowStudioService.ICashFlowStudioService" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="CashFlowStudioService.CashFlowStudioServiceAspNetAjaxBehavior">
          <webHttp />
        </behavior>
        <behavior name="webHttpBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
