
.icon-minus:before { content: '\e800'; } /* '' */
.icon-pencil:before { content: '\e801'; } /* '' */
.icon-trash:before { content: '\e802'; } /* '' */
.icon-plus:before { content: '\e803'; } /* '' */
.icon-scissors:before { content: '\e804'; } /* '' */
.icon-chart-bar:before { content: '\e805'; } /* '' */
.icon-chart-line:before { content: '\e806'; } /* '' */
.icon-cw:before { content: '\e807'; } /* '' */
.icon-chart-pie:before { content: '\e808'; } /* '' */
.icon-up-open:before { content: '\e809'; } /* '' */
.icon-cancel:before { content: '\e80a'; } /* '' */
.icon-leaf:before { content: '\e80b'; } /* '' */
.icon-ellipsis:before { content: '\e80c'; } /* '' */
.icon-chart-area:before { content: '\e80d'; } /* '' */
.icon-chart-line-1:before { content: '\e80e'; } /* '' */
.icon-air:before { content: '\e80f'; } /* '' */
.icon-database:before { content: '\e810'; } /* '' */
.icon-floppy:before { content: '\e811'; } /* '' */
.icon-briefcase:before { content: '\e812'; } /* '' */
.icon-credit-card:before { content: '\e813'; } /* '' */
.icon-down-open:before { content: '\e814'; } /* '' */
.icon-columns:before { content: '\e815'; } /* '' */
.icon-doc:before { content: '\e817'; } /* '' */