<connectionStrings>
  <add name="TaskProcess" connectionString="Server=DAL_SEC;Database=TaskProcess;Trusted_Connection=True;"/>
  <add name="DAL_SEC_PoolConfig" connectionString="Server=DAL_SEC;Database=DAL_SEC_PoolConfig;Trusted_Connection=True;"/>
  <add name="DAL_SEC" connectionString="Server=DAL_SEC;Database=DAL_SEC;Trusted_Connection=True;"/>
  <add name="SFM_DAL_ConsumerLoan" connectionString="Server=MSSQL;Database=SFM_DAL_ConsumerLoan;Trusted_Connection=True;"/>
  <add name="TrustManagement" connectionString="Server=MSSQL;Database=TrustManagement;Trusted_Connection=True;"/>
</connectionStrings>