<appSettings>
  <!-- Uat Environment -->
  <add key="TaskPath" value="E:\TSSWCFServices\TrustManagementService\App.Task\Tasks"/>
  <add key="SessionTimeOut" value="120"/>
  <add key="CashflowProvider" value="BL.TaskProcessService.CashFlowProvider, BL.TaskProcessService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  <add key="OperationProvider" value="BL.TaskProcessService.OperationProvider, BL.TaskProcessService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  <add key="SessionTaskActionReader" value="BL.TaskProcessService.SessionTaskActionReader, BL.TaskProcessService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  <add key="SessionProcess" value="BL.TaskProcessService.SessionProcessor, BL.TaskProcessService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  <add key="ReportingWebServiceUrl" value="http://au2104sdvdev24:80/ReportServer/ReportExecution2005.asmx"/>
  <add key="isDistribute" value="false"/>
  <add key="SecuritisationFilePath" value="E:\\TSSWCFServices\\TrustManagementService\\PoolCut\\SecuritisationFiles\\"/>
  <add key="SsasExcelConnectionStrTemplate" value='Provider=MSOLAP.3; Persist Security Info=True; User Id=dev\goldenstand; Password=Welcome01; Initial Catalog={0}; Data Source={1};Extended Properties="LocaleIdentifier=1033"; MDX Compatibility=1; Safety Options=2; MDX Missing Member Mode=Error'/>
  <add key="FilePathBase" value="E:\TSSWCFServices\TrustManagementService\TrustFiles"/>
  <add key="FileURLPathBase" value="https://abss-uat.crctrust.com/TrustManagementService"/>
</appSettings>