.work{
  position: absolute;
  top: 80px;
  bottom: 0;
  width: 100%;
}
iframe {
  width: 100%;
  height: 100%;
}

.header-title {
  height: 40px;
  padding-left: 15px;
  line-height: 45px;
  color: #fff;
  font-size: 20px;
  background-color: #5A77A9;
}

.header-title .icon {
  font-size: 18px;
  cursor: default;
}

.header-title .item-title {
  vertical-align: middle;
  cursor: default;
}

.header-nav {
  height: 40px;
  padding-left: 10px;
  line-height: 40px;
  color: #fff;
  background-color: #7488b3;
}

.header-nav .navList {
  height: 100%;
}

.header-nav .navList li {
  display: inline-block;
  height: 30px;
  padding-left: 8px;
  padding-right: 8px;
  line-height: 30px;
  color: #fff;
  font-weight: 700;
  vertical-align: bottom;
  border-radius: 3px 3px 0 0;
  cursor: pointer;
}

.header-nav .navList li a {
  color: #fff;
}
.header-nav .navList li.active,
.header-nav .navList li:hover {
  color: #7488b3;
  background-color: #fff;
}
.header-nav .navList li.active a,
.header-nav .navList li:hover a {
  color: #7488b3;
}
.header-nav .navList li a:hover {
  text-decoration: none;
}

