/* ------------- Common ------------- */
body
{
    font-family: Verdana, Arial, Sans-Serif;
    font-size: 7.8pt;    
}

input[type=text] {
    border:1px solid #abadb3;
    height:15px;
    font-size:1em;
    font-family:verdana,tahoma,sans-serif;
    width: 170px;
}

input[type=button] {
    font-size:1em;
    font-family:verdana,tahoma,sans-serif;
}

a:hover, img:hover{ cursor:pointer}

.pointer
{
    cursor: pointer;    
}

.ClearBoth
{
    clear: both;    
}

.separator
{
    height: 15px;
    background-color: White;
}

.padLeft24
{
    padding-left: 24px;
}

/* ------------- viewForm ------------- */
.actions
{
    background-color: white;
}

.actionElement
{
    float: left;
    padding-right: 10px;
    padding-bottom: 5px;
}

.actionHeader
{
    padding-left: 15px;
}

.actionHeaderElement
{
    float: left;
    padding-right: 10px;
    width: 174px;
    font-weight: bold;
}

.param
{
    padding-left: 10px;
    padding-bottom: 5px;
    background-color: #cecfce;
    width: 934px;
}

.paramElement
{
    float: left;
    padding-right: 10px;
}

.newParam
{
    padding-left: 14px;
    width: 950px;
}

.newParamElement
{
    float: left;
    padding-right: 10px;  
    width: 174px;
    height:25px;
    background-color: #cecfce;    
}

.paramHeader
{
    padding-left: 14px;
    width: 950px;
}

.paramHeaderElement
{
    float: left;
    padding-right: 10px;
    padding-top: 7px;    
    padding-bottom: 5px;    
    width: 174px;
    font-weight: bold;
    background-color: #cecfce;    
}

.params
{
    padding-left: 14px;
}

.paramHeaderForCaskFlow
{
    padding-left: 14px;
    width: 1150px;
}

.paramForCaskFlow
{
    padding-left: 10px;
    padding-bottom: 5px;
    background-color: #cecfce;
    width: 1118px;
}

.paramForCaskFlowSimple
{
    padding-left: 10px;
    padding-bottom: 5px;
    background-color: #cecfce;
    width: 382px;
}

.addParamForCaskFlow
{
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 7px;
    background-color: #cecfce;   
    width: 1118px; 
}

.addParam
{
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 7px;
    background-color: #cecfce;   
    width: 934px; 
}

.updateButton
{
    padding-top: 15px;
}

.padLeft14
{
    padding-left: 14px;
}

/* ------------- viewSession ------------- */
.sessionElement
{
    float: left;
    padding-right: 10px;
}

.sessionHeaderElement
{
    float: left;
    padding-right: 10px;
    padding-top: 7px;    
    padding-bottom: 5px;    
    width: 174px;
    font-weight: bold;
    background-color: #cecfce;    
}

#sessionArea
{
    background-color: #cecfce;   
}

.variable
{
    padding-left: 10px;
    padding-bottom: 5px;
    background-color: #cecfce;
    width: 1120px;
}

input[type="text"].inputCommandParams
{
    width: 470px;     
}

.divTopRow
{
    padding-bottom: 5px;    
}

.divCommandParams
{
    padding-bottom: 20px;        
}

.addNewSession
{
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 7px;
    background-color: #cecfce;   
    width: 1118px; 
}

.itemContent
{
    padding-left: 10px;
    padding-bottom: 5px;
    background-color: #cecfce;
    width: 750px;
}

.separator10
{
    height: 10px;
    background-color: White;
}