<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="QuickWizard" connectionString="Server=MSSQL;Database=QuickWizard;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
    <add name="ConsumerLoan" connectionString="Server=MSSQL;Database=SFM_DAL_ConsumerLoan;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
    <add name="SFM_DAL_Main" connectionString="Server=MSSQL;Database=SFM_DAL_Main;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
    <add name="QuantDB_FixedIncome" connectionString="Server=MSSQL;Database=SFM_QuantDB_FixedIncome;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>  
    <add name="TrustManagement" connectionString="Server=MSSQL;Database=TrustManagement;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>  
    <add name="TrustTemplate" connectionString="Server=MSSQL;Database=TrustTemplate;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>  
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="FilePathBase" value="E:\TSSWCFServices\QuickWizardUpload"/>
  </appSettings>
  <system.web>
    <httpRuntime maxRequestLength="2147483647" maxQueryStringLength="327680" maxUrlLength="655360" enable="true"/>
    <compilation targetFramework="4.5"/>
    <sessionState mode="Off"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="QuickWizard.WizardService">
        <endpoint behaviorConfiguration="QuickWizard.WizardServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="QuickWizard.WizardService"/>
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="QuickWizard.WizardServiceAspNetAjaxBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding closeTimeout="01:30:00" sendTimeout="01:30:00" maxReceivedMessageSize="2147483647" crossDomainScriptAccessEnabled="true">
          <!--当URL是http时，mode设置为None-->
          <security mode="Transport"/>
        </binding>
      </webHttpBinding>
    </bindings>
    <!--<protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>-->
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483647"></requestLimits>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>