@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?42106733');
  src: url('../font/fontello.eot?42106733#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?42106733') format('woff'),
       url('../font/fontello.ttf?42106733') format('truetype'),
       url('../font/fontello.svg?42106733#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?42106733#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-ok-2:before { content: '\e800'; } /* '' */
.icon-plus:before { content: '\e801'; } /* '' */
.icon-cancel:before { content: '\e802'; } /* '' */
.icon-minus:before { content: '\e803'; } /* '' */
.icon-ok:before { content: '\e804'; } /* '' */
.icon-down-open:before { content: '\e805'; } /* '' */
.icon-left-open:before { content: '\e806'; } /* '' */
.icon-right-open:before { content: '\e807'; } /* '' */
.icon-up-open:before { content: '\e808'; } /* '' */
.icon-cancel-circled:before { content: '\e809'; } /* '' */
.icon-cog:before { content: '\e80a'; } /* '' */
.icon-user:before { content: '\e80b'; } /* '' */
.icon-plus-circled:before { content: '\e80c'; } /* '' */
.icon-search:before { content: '\e80d'; } /* '' */
.icon-doc:before { content: '\e80e'; } /* '' */
.icon-minus-circled:before { content: '\e80f'; } /* '' */
.icon-doc-text:before { content: '\e810'; } /* '' */
.icon-right:before { content: '\e811'; } /* '' */
.icon-down-dir:before { content: '\e812'; } /* '' */
.icon-up-dir:before { content: '\e813'; } /* '' */
.icon-arrows-ccw:before { content: '\e814'; } /* '' */
.icon-mail:before { content: '\e815'; } /* '' */
.icon-list-alt:before { content: '\e816'; } /* '' */
.icon-print:before { content: '\e817'; } /* '' */
.icon-credit-card:before { content: '\e818'; } /* '' */
.icon-play:before { content: '\e819'; } /* '' */
.icon-vcard:before { content: '\e81a'; } /* '' */
.icon-mail-1:before { content: '\e81b'; } /* '' */
.icon-window:before { content: '\e81c'; } /* '' */
.icon-vcard-1:before { content: '\e81d'; } /* '' */
.icon-ok-1:before { content: '\e81e'; } /* '' */
.icon-tasks:before { content: '\e81f'; } /* '' */
.icon-back:before { content: '\e820'; } /* '' */
.icon-link:before { content: '\e821'; } /* '' */
.icon-note:before { content: '\e822'; } /* '' */
.icon-calculator:before { content: '\e823'; } /* '' */
.icon-docs:before { content: '\e824'; } /* '' */
.icon-spin4:before { content: '\e825'; } /* '' */
.icon-cancel-circled2:before { content: '\e826'; } /* '' */
.icon-cog-alt:before { content: '\e827'; } /* '' */
.icon-share:before { content: '\e828'; } /* '' */
.icon-share-1:before { content: '\e829'; } /* '' */
.icon-users-2:before { content: '\e82a'; } /* '' */
.icon-user-add-outline:before { content: '\e82b'; } /* '' */
.icon-lock:before { content: '\e82c'; } /* '' */
.icon-lock-open:before { content: '\e82d'; } /* '' */
.icon-clipboard:before { content: '\e82e'; } /* '' */
.icon-list-add:before { content: '\e82f'; } /* '' */
.icon-money-1:before { content: '\e830'; } /* '' */
.icon-floppy-1:before { content: '\e831'; } /* '' */
.icon-layout:before { content: '\e832'; } /* '' */
.icon-user-add:before { content: '\e833'; } /* '' */
.icon-export:before { content: '\e834'; } /* '' */
.icon-forward:before { content: '\e835'; } /* '' */
.icon-book-open:before { content: '\e836'; } /* '' */
.icon-trash-empty:before { content: '\e837'; } /* '' */
.icon-down-open-1:before { content: '\e838'; } /* '' */
.icon-left-open-1:before { content: '\e839'; } /* '' */
.icon-right-open-1:before { content: '\e83a'; } /* '' */
.icon-up-open-1:before { content: '\e83b'; } /* '' */
.icon-cancel-circled-outline:before { content: '\e83c'; } /* '' */
.icon-attention-alt:before { content: '\e83d'; } /* '' */
.icon-users:before { content: '\e83e'; } /* '' */
.icon-government:before { content: '\e83f'; } /* '' */
.icon-clipboard-1:before { content: '\e840'; } /* '' */
.icon-town-hall:before { content: '\e841'; } /* '' */
.icon-team:before { content: '\e842'; } /* '' */
.icon-group:before { content: '\e843'; } /* '' */
.icon-picture:before { content: '\e844'; } /* '' */
.icon-wrench:before { content: '\e845'; } /* '' */
.icon-calendar:before { content: '\e846'; } /* '' */
.icon-th-large:before { content: '\e847'; } /* '' */
.icon-th-list-1:before { content: '\f009'; } /* '' */
.icon-th-thumb:before { content: '\f00a'; } /* '' */
.icon-th-thumb-empty:before { content: '\f00b'; } /* '' */
.icon-bookmark-empty:before { content: '\f097'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-list-bullet:before { content: '\f0ca'; } /* '' */
.icon-list-numbered:before { content: '\f0cb'; } /* '' */
.icon-table:before { content: '\f0ce'; } /* '' */
.icon-money:before { content: '\f0d6'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-angle-double-left:before { content: '\f100'; } /* '' */
.icon-angle-double-right:before { content: '\f101'; } /* '' */
.icon-angle-double-up:before { content: '\f102'; } /* '' */
.icon-angle-double-down:before { content: '\f103'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-ellipsis:before { content: '\f141'; } /* '' */
.icon-ellipsis-vert:before { content: '\f142'; } /* '' */
.icon-stackexchange:before { content: '\f18d'; } /* '' */
.icon-bank:before { content: '\f19c'; } /* '' */
.icon-file-word:before { content: '\f1c2'; } /* '' */
.icon-newspaper:before { content: '\f1ea'; } /* '' */
.icon-skyatlas:before { content: '\f216'; } /* '' */
.icon-map-o:before { content: '\f278'; } /* '' */
.icon-map:before { content: '\f279'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */
.icon-id-card-o:before { content: '\f2c3'; } /* '' */