body{
  min-width: 600px;
  padding: 5px 20px;
}
.operateNav .operateBar {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #ddd;
}

 
 
.list-filters{
  overflow: hidden;
  padding: 8px 0px;
}
.list-filters .form-group .form-control{
  width: 60%;
  margin-left: 10px;
}
.list-filters .form-control.shortItem{
  width: 40%;
}
.table thead tr{
  background-color: #efefef;
}

 

 
