.btn-small{
    font-size: 12px;
    line-height: 1.5;
    padding: 1px 2px;
    border-radius: 3px;
}
.messageText {
    width: 270px;
    height: 150px;
    border: 1px solid #ddd;
    padding: 5px 0px 0px 5px;
}

.panel-sessions{
    position: absolute;    
}
.panel-grid table{
    margin:10px 10px;
    border: 1px solid #ddd;
}
.panel-grid table thead{
    height: 35px;
    line-height: 35px;
    color: #3b5999;
    border-left:1px solid #ddd;
    background-color: #f3f3f3;
    background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
}
.panel-grid table thead tr th{
    font-size: 12px;
    font-weight: bold;
    border-left:1px solid #ddd;   
}
.panel-grid table tbody tr th{
    height:28px;
     font-size: 12px;
    border-left:1px solid #ddd;
    border-bottom:1px solid #ddd;  
}
.panel-pager {
    width: 98%;
    float: left;
    bottom:20px;
    margin: 0px 10px;
    text-align: right;
}
.panel-pager ul li{
    margin-right:5px;
    list-style:none;
    float:right;
}

#divActionList {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: white;
}

.ground-header {
    width: 100%;
    height: 35px;
    float: left;
    background-color: #3B5999;
}
.ground-header .header-title{
    float: left;color: #fff;line-height: 30px;padding-left: 5px;
}
.ground-header .header-colse{
    float: right;padding-right: 5px;line-height: 30px;
}
.ground-body {
    width: 100%;
    height: 100%;
    float: left;
}
.panel-grid-action {
   margin:10px 10px;
}

#scrollTable {
        width:1200px;
        border: 1px solid #ddd;/*table没有外围的border，只有内部的td或th有border*/
 }
#scrollTable table {
    border-collapse:collapse;
}
#scrollTable table.thead{ 
    width:100%;
}
#scrollTable table.thead th{
    height: 35px;
    line-height: 35px;
    color: #3b5999;
    font-size: 12px;
    font-weight: bold;  
    border-left:1px solid #ddd;
    background-color: #f3f3f3;
    background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
}     
#scrollTable div{
    width:100%;
    height:490px;
    overflow:auto;     
}
#scrollTable table.tbody{
    width:100%;
}
#scrollTable table.tbody td{
    height:28px;
    font-size: 12px;
    text-align:center;
    border-left:1px solid #ddd;
    border-bottom:1px solid #ddd;
}
#scrollTable table.thead th[noborder],#scrollTable table.tbody td[noborder]{
    border-left:none;
}

#divVariableList {
    position:relative;
    width:100%;
    height: 100%;
    border: 1px solid #ddd;
    display:none;
}
#divVariableList dl{
    padding-left: 30px;
    height: 35px;
    line-height: 35px;
    border-top-color: transparent;
    border-bottom: 1px solid #ddd;
    background-color: #f3f3f3;
    background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
    }
#divVariableList dl dt,#divVariableList dl dd {
    float: left;
    width: 48%;
    font-size: 12px;
    font-weight: bold;
    padding-left: 1%;
    border-left: 1px solid #ddd;
}
#divVariableList ul {
    list-style: none;
    min-height: 70px;
}
#divVariableList li::before {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 30px;
    text-align: center;
    content: counter(num);
}
#divVariableList li {
    position: relative;
    padding-left: 30px;
    border-bottom: 1px solid #ddd;
    height: 35px;
    font-size: 12px;
    line-height: 35px;
    cursor: pointer;
    counter-increment: num;
}
#divVariableList li span {
    width: 48%;
    display: block;
    float: left;
    border-left: 1px solid #ddd;
    padding-left: 1%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdown-area {
    position: fixed;
    z-index: 9;
    top: 53px;
    right: 10px;
    width: 200px;
    height: 350px;
}

.loadpage{position: fixed;top: 0;bottom: 0;left: 0;right: 0;z-index: 9999;background:rgba(0, 0, 0, .25)}
.loading-wraper{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 200px;
    height: 100px;
    text-align: center;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0,0,0,.10);
}
.loadpage .pa{position: absolute;color: #756f6f;}
.loadpage .bigicon{font-size: 30px;left: 72px;top: 20px;}
.loadpage .smicon{font-size: 20px;top: 20px;left: 97px;}
.loadpage .text{
    position:absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    margin: auto;
    width: 150px;
    color:#333;
    font-size: 12px;
    font-weight:bold;
}


