<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <httpRuntime maxRequestLength="2147483647" maxQueryStringLength="327680" maxUrlLength="655360" enable="true"/>
    <compilation debug="true" targetFramework="4.5"/>
    <sessionState mode="Off"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      minFreeMemoryPercentageToActivateService="0" multipleSiteBindingsEnabled="true" />
    <extensions>
      <behaviorExtensions>
        <add name="SilverlightFaultBehavior" type="Securitisation.Utilities.SilverlightFaultBehavior, WBC.Treasury.TDM.Sec.Utilities, Version=1.0.0.0, Culture=neutral, PublicKeyToken=2b6915459c39d62e"/>
      </behaviorExtensions>
    </extensions>
    
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBinding" closeTimeout="01:30:00" sendTimeout="01:30:00" maxReceivedMessageSize="2147483647">
          <security mode="Transport"/>
        </binding>
        <binding name="streamHttpBinding" closeTimeout="00:30:00" openTimeout="00:10:00" receiveTimeout="00:30:00" sendTimeout="00:30:00" maxReceivedMessageSize="16777216" transferMode="Streamed" messageEncoding="Mtom">
          <security mode="Transport"/>
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="Silverlight.customBinding" closeTimeout="01:30:00" sendTimeout="01:30:00">
          <binaryMessageEncoding/>
          <httpTransport/>
        </binding>
        <binding name="Silverlight.customBindingHttps" closeTimeout="01:30:00" sendTimeout="01:30:00">
          <binaryMessageEncoding/>
          <httpsTransport/>
        </binding>
      </customBinding>
      <webHttpBinding>
        <binding name="crossDomainBinding" closeTimeout="01:30:00" sendTimeout="01:30:00" maxReceivedMessageSize="2147483647" crossDomainScriptAccessEnabled="true">
          <security mode="Transport"/>
        </binding>
        <binding name="crossDomainBindingHttp" closeTimeout="01:30:00" sendTimeout="01:30:00" maxReceivedMessageSize="2147483647" crossDomainScriptAccessEnabled="true">
        </binding>
      </webHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="CommonServiceBehaviours" name="PoolCut.ImplPoolProcessService">
        <endpoint address="PPSEP" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding"
          name="PPSEP" contract="BL.TaskProcessService.ServiceContract.IPoolProcessService" />
        <endpoint address="mex" binding="mexHttpsBinding" bindingConfiguration=""
          name="meta" contract="IMetadataExchange" />
        <endpoint address="PPSSilverlightEP" behaviorConfiguration="SilverlightFaultBehavior"
          binding="customBinding" bindingConfiguration="Silverlight.customBindingHttps"
          name="PPSSilverlightEP" contract="BL.TaskProcessService.ServiceContract.IPoolProcessService" />
        <endpoint address="stream" binding="basicHttpBinding" bindingConfiguration="streamHttpBinding"
          name="PoolProcessServiceEndPointForStreamTransfer" contract="BL.TaskProcessService.ServiceContract.IPoolProcessService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
      </service>
      <service behaviorConfiguration="CommonServiceBehaviours"  name="PoolCut.PoolCutService">
        <endpoint address="jsAccessEP"  behaviorConfiguration="webHttpBehavior"
          binding="webHttpBinding" bindingConfiguration="crossDomainBinding"
          name="jsAccessEP" contract="PoolCut.IPoolCutService" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="SilverlightFaultBehavior">
          <SilverlightFaultBehavior />
        </behavior>
        <behavior name="webHttpBehavior">
          <webHttp />
        </behavior>
        <behavior name="PoolCut.Service1AspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="PoolCut.PaymentScheduleServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="PoolCut.PoolCutServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="CommonServiceBehaviours">
          <serviceMetadata httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="DebugServiceBehaviours">
          <serviceMetadata httpsGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>    
  </system.serviceModel>
  <connectionStrings>
    <add name="PoolCut_Database" providerName="System.Data.SqlClient" connectionString="Server=MSSQL;Database=TrustManagement;Trusted_Connection=True;"/>
    <add name="DAL_SEC_PoolConfig" connectionString="Server=DAL_SEC;Database=DAL_SEC_PoolConfig;Trusted_Connection=True;"/>
    <add name="TaskProcess" connectionString="Server=DAL_SEC;Database=TaskProcess;Trusted_Connection=True;"/>
  </connectionStrings>
  <appSettings>
    <add key="SecuritisationFilePath" value="E:\\TSSWCFServices\\PoolCut\\SecuritisationFiles\\"/>
    <add key="FilePathBase" value="E:\\TSSWCFServices\\PoolCut\\Files\\"/>
    <add key="FilePathBaseUrl" value="https://poolcutwcf/poolcut/files/" />
  </appSettings>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483647"></requestLimits>
      </requestFiltering>
    </security>
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647"/>
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>